* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #e9f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.search-box button {
  padding: 10px 15px;
  border: none;
  background: #55c2ff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.weather-box img {
  width: 120px;
  height: 120px;
}

#errorBox {
  color: red;
  margin-top: 15px;
}
